.card__container{
    max-width: 350px;
    width: 100vw;
    max-height: 500px;
    height: 100vh;
    position: relative;
    display: flex;
    margin: 10px 0;
    border: 3px solid #3E43577d;
    border-radius: 10px;
    overflow: hidden;
}

.card__container:hover{
    box-shadow: 0 0 8px #0070d1;
    transition: 400ms;
    filter: brightness(.7);
}

.card__container > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__container .card__img{
    min-width: 100%;
    min-height: 100%;
    transition: transform 800ms;
}

.card__container .card__img:hover{
    transform: scale(1.05);
}


.price{
    position: absolute;
    width: 100%;
    bottom: 0;
    pointer-events: none;
}