.header__container{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 16px 0 #0007
}

.header__container .header__logo-pss{
    display: flex;
    align-items: center;
    max-height: 36px;
    height: 100%;
    margin: 0 16px;
}
.header__logo-pss > img{
    height: 100%;
}

.header__container .header__nav-bar{
    display: flex;
    align-items: center;
    margin: auto;
}

.header__nav-bar .menu-hamburguer{
    display: none;
}


.header__nav-bar .nav-bar__menu{
    list-style: none;
    display: flex;

}

.nav-bar__menu .item{
    margin: 0 16px;
    border: 2px solid transparent;
}

.nav-bar__menu .item > a{
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    padding: 4px 10px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 16px;
}

.nav-bar__menu .item > a:hover{
    color: #0070d1;
    background-color: #EBEEF0;
}