<header class="header__container">
        <div class="header__logo-pss">
                <img
                        src="/assets/images/ps-logo.png"
                        alt="PlayStation Logo" />
        </div>
        <nav class="header__nav-bar"
        [ngClass]="!toggle ? 'header__nav-bar_hamburguer' : ''"
        >
                <button
                        type="button"
                        class="menu-hamburguer"
                        (click)="onTaggle()">
                        <span
                                [ngClass]="!toggle ? 'menu-hamburguer__line' : 'menu-hamburguer__X'"></span>
                </button>
                <ul class="nav-bar__menu"
                        *ngIf="toggle"
                >
                        <li class="item"><a
                                        routerLink="/"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Novidades</a></li>
                        <li class="item"><a
                                        routerLink="/collection"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Coleções</a></li>
                        <li class="item"><a
                                        routerLink="/subscription"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Assinatura</a></li>
                        <li class="item"><a
                                        routerLink="/navigate"
                                        routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}">Support</a></li>
                </ul>
        </nav>
</header>