<div class="cards__container">

    <app-card
        [gameCover]="'assets/images/bt-1.jpg'"
        [titleGame]="'bt-1'"
        [gameLabel]="'EXCLUSIVO'"
        [titlePrice]="'Play it Now!'"
        [midia]="'Full Game'"
        [console]="'PS5'" 
        [price]="'R$ 59,99'"
        />
    <app-card
        [gameCover]="'assets/images/ac-cover.jpg'"
        [titleGame]="'ac-cover'" 
        [gameLabel]="'Cross Buy'"
        [titlePrice]="'Byu Now!'"
        [midia]="'Full Game'"
        [console]="'PS4'"
        [price]="'R$ 59,99'"
        />
    <app-card
        [gameCover]="'assets/images/bt-hardline.jpg'"
        [titleGame]="'bt-hardline'"
        [titlePrice]="'PLay it Now!'" 
        [midia]="'DIGITAL'"
        [console]="'PS4'"
        [price]="'R$ 79,99'"
        />

    <app-card
        [gameCover]="'assets/images/bt-bad-company-2.jpg'"
        [titleGame]="'bt-cad-company'" 
        [gameLabel]="'DIGITAL'"
        [titlePrice]="'Buy Now!'"
        [midia]="'Play It Now'"
        [console]="'PS5'"
        [price]="'Free'"
        />

</div>