<div class="card-pricing__container">
    <div class="card-pricing__title">
        <h3>{{titlePrice}}</h3>
    </div>
    <div class="card-pricing__description">
        <div class="card-pricing__description__console">
            <span class="pipe-line"></span>
            <p class="midia">{{midia}}</p>
            <span class="pipe-line" ></span>
            <p class="console">{{console}}</p>
        </div>
        <div class="card-pricing__description__price">
            <p>{{price}}</p>
        </div>
    </div>
</div>

